body
{
 padding: 0px;
 margin: 0px;
 background-color: white;
}

a
{
  text-decoration: none;
  color: black;
}

/*Menu*/

.menu
{
  background-color: white;
}

/*Images du menu*/

.Logosite
{
  margin-right: 0vw;
  margin-top: 0.5vw;
  padding: 0vw;
  width: 43vh;
	height: auto;
}

.LogoConnexion
{
  margin-right: 0vw;
  padding: 0vw;
  margin-top: 1vw;
  max-width: 8vh;
	height: auto;
}

/*Menu qui suit l'écran*/

.menufix
{
 top:0;
 width: 100vw;
 height: 12vh;
 background-color: white;
 position: fixed;
 display: flex;
 justify-content: space-between;
 overflow: hidden;
 top: 0;
 border-bottom: 3px blue solid;
 box-shadow: 0px 3px 3px grey;
}



/*Menu qui ne bouge pas avec l'écran*/

.menul
{
  padding-top: 1.5vh;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  margin-top: 12vh;
  border-bottom: 3px blue solid;
  box-shadow: 0px 3px 3px grey;
  transition: 1s;
}

.liencote
{
  margin-right: 3vw;
}

/*Interaction avec le menul*/

.menufixprop
{

  transition: 2s;
}

.menufixprop:hover
{
  background-color: yellow;
}

/*---*/



/*Menu Actus bref*/

.actusbref
{
 display: flex;
 justify-content: center;
 margin-bottom: 0px;
 padding-bottom: 0px;
}

.textactusbref
{
 padding-right: 2vh;
 border-right: 5px white double;
}

.infosclubbref
{
   padding-left: 2vh;
}

.textebrefetinfosclub
{
  display: flex;
  justify-content: center;
}

/*---*/

/*Actualités*/

.actualités
{
 display: flex;
  justify-content: center;
}

.news
{
 text-align: center;
}

/*---*/



.exeterieurcarte
{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  perspective: 1500px;
}

.carte
{
  position: fixed;
  width: 40vw;
  height: 70vh;
  transition-duration: 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.recto
{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #3880B0;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(79, 111, 188, 0.25);
  transition-duration: 2s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform-style: preserve-3d;
}

.verso
{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #3880B0;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(79, 111, 188, 0.25);
  transition-duration: 2s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display:flex;
  flex-direction: column;
  text-align: center;
}

.verso form
{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.recto form
{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.test
{
  height: 100%;
}

.messageErreur
{
background-color: rgba(255, 0, 0, 0.55);
border: 1px rgba(255, 0, 0) solid;
border-radius: 5px 5px 5px 5px;
padding: 0.75vh;
}
