body
{
  padding:0;
  margin: 0;
}

.menu
{
  width: 100vw;
}

.menuPC
{
  width: 100%;
}

.menuPC ul
{
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px black solid;
  height: 5vh;
}

.menuPC ul a li
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30vw;
  height: 100%;
  background-color: #95caff;
  border: 1px black solid;
  padding: 0;
  margin: 0;
  transition: 2s;
}

.menuPC ul a li:hover
{
  background-color: #ff8473;
}

.exeterieurcarte
{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
}

.carte
{
  position: fixed;
  width: 40vw;
  height: 70vh;
  transition-duration: 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.recto
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:  #ffab99;
  transition-duration: 2s;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform-style: preserve-3d;
}

.verso
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #95caff;
  transition-duration: 2s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display:flex;
  flex-direction: column;
  text-align: center;
}

.verso form
{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.recto form
{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.test
{
  height: 100%;
}
